/* .App{
  font-family: sans-serif;
  text-align: center;
}

.container {
  text-align: left;
padding-left: 20px;
border: 1px solid black;
max-width: 200px;

}
.icon{
  width: 20px;
  height: 20px;
  margin-left: 20px;
} */


.comment-section {
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.comment-list {
  list-style: none;
  padding-left: 0;
}

.comment-container {
  border-left: 2px solid #ddd;
  margin-top: 10px;
  padding-left: 10px;
}

.comment {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.toggle-button {
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  color: #007bff;
  font-weight: bold;
}

.comment-text {
  flex: 1;
}

.action {
  margin-left: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.reply {
  color: #28a745;
}

.reply:hover {
  text-decoration: underline;
}

.delete {
  color: #dc3545;
}

.delete:hover {
  text-decoration: underline;
}
